body {
    background-color: #22272F;
  }

.grid-container {
display: grid;
grid-template-columns: 185px 185px 185px 185px 185px 185px 185px 185px;
grid-template-rows: 150px;
gap: 25px;
padding: 25px;
align-items: center;
}

.grid-container >a> div {
background-color: #2F3541;
color: #88C0D0;
text-align: center;
padding: 20px 0;
font-size: 30px;
border-radius: 15px;
font-family: 'Poppins', sans-serif;
height: 110px;

}
.bookmarks{
    max-width: 1700px;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    margin: 28px auto 0;
    padding-top: 25px;
}
h1,h2 {
    color: #B4B5B8;
    font-family: 'Poppins', sans-serif;
}
p  {
    color: #B4B5B8;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
h2 {
    text-align: left;
    padding-left: 1.5%;
    font-size: 20px;
}
h1 {
    font-size: 24px;
}
.icon {
    font-size: 50px;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
a {
    color: #B4B5B8;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}