.article {
  padding-top: 50px;
  padding-bottom: 1%;
  max-width: 900px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 28px auto 0;
}
.accordion {
  background-color: #3b4252;
  color: #e5e9f0;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #2e3440;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #3b4252;
  overflow: hidden;
}
body {
  background-color: #3b4252;
}
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
small {
  color: #e5e9f0;
  font-family: roboto;
}
a, a:hover {
  color: #5e81ac;
  text-decoration: none;
}
